<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/33.png">
    <title>{% block title %}Info{% endblock %}</title>

</head>

<body>
<div class="particle-container">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
<body>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Автор и преподаватель курсов и программ по психологии</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp «Взгляд на жизнь»<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Программа профилактики профессионального выгорания специалиста в ситуации профилактики аутагрессивного поведения обучающихся.<br>
<p3 class="epsilon ls-medium"></p3><br>
                    &nbsp Работа педагога - психолога в образовательном учреждении (СОШ, ССУЗ, ВУЗ) в рамках профилактики суицидального поведения несет колоссальную эмоциональную нагрузку. Специалист регулярно сталкивается с понятием смерти, угрозой смерти, ожиданием смерти. Ответственность педагога – психолога образовательного учреждения тоже формируется через «смерть»: он должен обеспечить «профилактику и предупреждение суицидального поведения» обучающихся.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Цель программы: организация деятельности педагога – психолога по профилактике суицидального поведения обучающихся в образовательных учреждениях через понятие «Жизнь» и состояние Жизни.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Задачи:<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp 1. Разработка методических рекомендаций для педагогов - психологов по сохранению жизни и психологического здоровья учащихся образовательного учреждения.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp 2. Помощь педагогу – психологу в разработке психологических мероприятий и проектов, направленных на сохранение жизни учащихся образовательного учреждения</p5><br>
                <div class="wrapper1">

                    <img src="/static/img/v1.jpeg" style="width: 300px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>

                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Автор и ведущий коммуникативных тренингов</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp Информационный курс<br>
&nbsp «Эффективные приемы в работе call-центра»<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Форма обучения: он-лайн.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Вид мероприятия: вербальный тренинг.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Целевая аудитория: Сотрудники служб по работе с клиентами по телефону, занимающиеся информированием и консультированием клиентов.<br>

<p3 class="epsilon ls-medium"></p3><br>&nbsp Преподавательский состав:<br>
&nbsp • Тарская Ксения Евгеньевна, педагог – психолог высшей категории, отличник образования РС (Я), психолог – психотерапевт. Стаж более 15 лет.<br>
&nbsp • Бублик Янина Юрьевна, специалист в области кадрового администрирования, специалист в области методической поддержки работы «горячих линий» в области пенсионного страхования, медицины и городского транспорта в организациях Мурманской области и Санкт-Петербурга со стажем работы более 15 лет.<br>

<p3 class="epsilon ls-medium"></p3><br>&nbsp Современные интерактивные методики обучения - кейс-задания, ролевые игры, дискуссии, работа в группах и парах.<br>

<p3 class="epsilon ls-medium"></p3><br>&nbsp Корпоративная цена:30 000 р.Анонс программы:<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Телефонный деловой этикет. Общение в телефонном контакте и основные задачи оператора. Слагаемые звукового имиджа фирмы. Управление голосом (интонирование, модулирование). Приемы предоставления информации. Техники вежливого отказа и принятия благодарности. Алгоритмы работы со сложными клиентами. Профилактика профессионального выгорания: приемы саморегуляции и борьбы со стрессом.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Цель:<br>
&nbsp Повышение уровня профессионального мастерства сотрудника call -центра.<br>
<p3 class="epsilon ls-medium"></p3><br>&nbsp Задачи:<br>
&nbsp • осознание роли личности в звуковом имидже компании;<br>
&nbsp • презентация корпоративных стандартов (в случае, если данный пункт оговорен компанией – заказчиком);<br>
&nbsp • освоение основ техники работы на телефоне;<br>
&nbsp • овладение приёмами разрешения сложных ситуаций в работе;<br>
&nbsp • изучение основ саморегуляции.</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/v3.jpeg" style="width: 300px; height: 180px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Личностный рост</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp "Зачем?" - часто спрашивают меня люди,
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp "Зачем ты так много учишься?"<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Отвечаю!<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Во первых: мне интересно учиться!
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Во вторых: "Вам бы хотелось, чтобы ваш дом строил дилетант? Хотелось бы, чтобы операцию делал человек с улицы?
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp - Нет! Вам хочется быть уверенным в том, что помощь, на которую вы рассчитываете будет качественной!
<p3 class="epsilon ls-medium"></p3><br>
&nbsp В третьих: я слишком себя уважаю, чтобы позволять себе предоставлять продукт или услугу, в которой не уверена!<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp РОСТ - для меня это НЕ потребность или необходимость.<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp РОСТ, для меня, ЕСТЕСТВЕННОЕ состояние! Как дыхание!<br>
</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/v2.jpeg" style="width: 300px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>


</body>

</body>

</html>