<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/33.png">
    <title>{% block title %}Info{% endblock %}</title>

</head>

<body>
<div class="particle-container">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
<body>
<div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Педагог-психолог</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp Когда меня спрашивают: «А как это и Педагог и Психолог в одном флаконе?» То я отвечаю, что это не только «понимать психологию». Это намного шире и глубже. Это уметь преподнести психологию так, чтобы она стала понятна и близка другому человеку. Не зря на первом месте в данной формулировке стоит слово Педагог. Тот, кто научит психологии. Тот, кто покажет своим примером, как это «быть психологом»! Удивительная профессия - призвание! Широкая, многогранная, яркая, интересная!</p5><br>
                <p3 class="epsilon ls-medium"></p3><br>
                <div class="wrapper1">
                    <img src="/static/img/pp4.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />

                    <img src="/static/img/pp5.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                </div>
                <p5 class="epsilon ls-medium">&nbsp Хочу сказать о том, что Школа позволила мне воплотить.
Петь!!! Я люблю петь! И я пела! Я пела голосами ребят! Звучала перезвоном струн! Удивительный проект «Песенки по-нашему» много лет жил в нашей школе. До сих пор живет в ребятах, которые подрастают.<br>
                    <div class="wrapper1">
                    <img src="/static/img/pp3.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/5.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
                    &nbsp Чудесное арт-терапевтическое начинание, которое было направлено на то, чтобы дети могли выражать свои эмоции и настроение в песне, словах в звуках гитары, проросло так глубоко, что вынесло музыку за пределы актового зала. Звон струн и юные голоса звучали в коридорах школы. Младшие ребятишки подтягивались и восторженно слушали исполнение старшеклассников.<br>
                    <div class="wrapper1">

                    <img src="/static/img/88.jpg" style="width: 290px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />

                </div>
                    &nbsp Но, прежде всего, я педагог- психолог. И много лет я преподавала авторский элективный курс по психологии «Пойми себя и других, чтобы быть правильно понятым». 40 минут в неделю о психологии… Это и много, и мало. Время, когда ты остаешься с ребятами наедине. Когда ты можешь их слышать и когда они могут слышать тебя. Когда они могут разрешить себе задать вопросы на любую тему, когда можно говорить просто об очень сложном и важном.</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/pp1.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/pp2.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Психолог, психотерапевт</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">

                <p5 class="epsilon ls-medium">&nbsp До недавнего времени, понятие «психотерапевт» носило только медицинскую подоплеку. Сейчас стало возможным получить звание психотерапевта имея педагогическое образование. Иначе говоря, немедицинский психотерапевт.<br>
<div class="wrapper1">
<img src="/static/img/ps4.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                </div>

                    &nbsp Этот специалист обладает удивительными знаниями и навыками, которые позволяют ориентироваться в проблеме клиента и посредством применения конкретных методик выводить человека из негативных состояний. Помогает клиенту вернуться к ощущению собственной целостности.<br>
<div class="wrapper1">
                    <img src="/static/img/6.jpeg" style="width: 300px; height: 190px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <br>

                </div>
                    &nbsp Сейчас много говорится о том, как важно любить себя. При этом люди забывают, что помимо себя в этом мире есть и другие люди. Складывается ощущение, будто позабылось, что именно понимается под формулировкой «люби себя». Психотерапия позволяет вернуться к первичным настройкам этих великих слов. «Возлюби ближнего своего, как самого себя» - так говорится в Библии. А как можно любить ближнего, если человек не понимает, как любить себя? Ведь наливать в стакан можно только из наполненного кувшина.</p5><br>
                <div class="wrapper1">


                    <img src="/static/img/ps3.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>

                </div>
                <p5 class="epsilon ls-medium">&nbsp Эмоционально-образный терапевт. Кто это?<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Наш мозг очень хитрый! Он разговаривает с нами картинками, образами.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp И эти образы и картинки мы видим всю жизнь и, даже, пытаемся понимать!<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Это наши сны.<br>
<p3 class="epsilon ls-medium"></p3><br>
                        &nbsp Высший пилотаж, когда человек во сне понимает, что это сон и начинает менять эту "сонную реальность". И это действительно мастерство, потому что, в этот момент, человек проводит себе очень эффективную психотерапию. Буквально переписывает и перепрошивает свои нейронные связи!<br>
<div class="wrapper1">
                    <img src="/static/img/t1.jpeg" style="width: 210px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <br>

                </div>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Но, не всегда нам удается забрать бразды правления у своего подсознания и начать осознавать себя во сне.
Именно это предлагает и делает Эмоционально - образная терапия. Без гипноза и бубна. Сам человек, в полном доверии к себе и своему бессознательному разрешает "называть" себе свои ощущения. Затем, оформляет их в чувственные образы и взаимодействует с ними. Каждый образ это чувство, переживание, остаточное впечатление от события...
Все это происходит под чутким взором психотерапевта.<br>
                <div class="wrapper1">

                    <img src="/static/img/t2.jpeg" style="width: 210px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <br>

                </div>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp "Тогда в чем суть этого взаимодействия?" - спросите вы и будете правы!<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp А суть в том, что не всегда мы корректно взаимодействуем. Даже общаясь друг с другом мы, зачастую, допускаем ошибки, о которых жалеем. С самим собой и подавно.<br>
<p3 class="epsilon ls-medium"></p3><br>
                    <div class="wrapper1">

                    <img src="/static/img/t3.jpeg" style="width: 210px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>

                </div>
&nbsp Психотерапевт знает приемы, формулировки фраз, техники, которые, это взаимодействие с образами внутри себя, направляют в созидательное русло.<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Подсознание радуется тому, что "общение" состоялось. Оно дарит хозяину спокойствие, мир в душе, ответственность и свободу.<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Возвращает то, с чем рожден каждый!</p5><br>
            </div>
        <div class="wrapper1">
        <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Спортивный психолог</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp Чудесным образом сложилась моя судьба как спортивного психолога.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
                    &nbsp В далеком 2008 году я вызвалась добровольцем работать на IV Международных спортивных играх «Дети Азии», в качестве психолога сопровождения команды. Удивительный опыт, который я захотела повторить еще 4 раза.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
                    <div class="wrapper1">
                    <img src="/static/img/sp.jpeg" style="width: 310px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <br>
                </div>
                    &nbsp Первая команда юных спортсменов, которую я начала сопровождать, была Сборная Республики Саха Якутия по Спортивным танцам.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
                <div class="wrapper1">
                    <img src="/static/img/s1.jpeg" style="width: 310px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/p3.jpeg" style="width: 310px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                </div>
                    &nbsp Вторая команда, уже на пятых Играх в 2012 году, была сборная Республики Саха Якутия по Вольной Борьбе. И тогда-то меня и заметила главный тренер республики Саха (Якутия) по художественной гимнастике, президент ассоциации художественной гимнастики РС (Я) Шишигина Татьяна Кирилловна, и с тех пор я была постоянным психологом сборной.<br>
                <div class="wrapper1">
                    <img src="/static/img/8.jpeg" style="width: 310px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                </div>
                    <p3 class="epsilon ls-medium"></p3><br>
                    &nbsp Сопровождение тренировочного процесса, диагностика соревновательной готовности, психологические тренинги на сплочение и чувствование друг другом юных членов команд групповых выступлений, сжатые кулачки за юных спортсменов, когда они выходили на ковер в соревнованиях… и всесторонняя поддержка со стороны команды тренеров. Поддержка и готовность к сотрудничеству, которое переросло в крепкую дружбу.</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/2.jpeg" style="width: 310px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
    <div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Психолог - консультант</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp Консультирование … индивидуальное и групповое…
&nbsp Удивительное чувство испытываешь от того, когда видишь, что человек начинает себя слышать. Понимает что-то важное о себе. Решает и меняет свою жизнь.<br>
<p3 class="epsilon ls-medium"></p3><br> &nbsp Кто такой психолог – консультант? – Он «отражает» реальность клиента, помогает взглянуть со стороны, «подсвечивает» для человека темные углы, направляет взгляд клиента туда, куда он готов смотреть.<br>
                <div class="wrapper1">
                    <img src="/static/img/k3.jpeg" style="width: 300px; height: 190px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/k2.jpeg" style="width: 300px; height: 190px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                </div>
                    <p3 class="epsilon ls-medium"></p3><br> &nbsp А групповая консультация – вообще чудо!!!<br>
Состояние, когда работает «Поле». Работает Пространство, в которое была принесена проблема. И ответы человек может слышать из Поля, прямые и четкие! Удивительный процесс!!!</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/k4.jpeg" style="width: 300px; height: 190px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/4.jpeg" style="width: 300px; height: 190px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>


<div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Эксперт по аттестации педагогов - психологов</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp За спиной 16 лет психолого педагогической работы. Два конкурса профессионального мастерства с победами!
И все равно чувство, что надо учиться!
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Коллеги, спасибо им большое, оценили мое мастерство и предложили меня в качестве эксперта по аттестации педагогов - психологов.<br>
                    <p3 class="epsilon ls-medium"></p3><br>

&nbsp Ответственность большая!<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Благодарна.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Навскидку могу сказать, что в любой деятельности важна система. Самое главное, чтобы эту систему понимал сам специалист. Видел эту систему.<br>
                    <p3 class="epsilon ls-medium"></p3><br>

&nbsp Чтобы понимал что он делает и для чего.<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp Трудность работы педагога - психолога в образовательных учреждениях заключается в том, что нет четкого стандарта дейтельности. В каждом субъекте РФ формируются свои особенности работы.<br>
<p3 class="epsilon ls-medium"></p3><br>
&nbsp А работа интересная! Работа важная!<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Педагоги-психологи - бойцы невидимого фронта! Винтики, без которых механизм образовательной машины будет сильно скрипеть.<br>
                    <p3 class="epsilon ls-medium"></p3><br>
&nbsp Качественная работа специалистов образовательных учреждений - один из важнейших факторов формирования здорового общества.</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/e1.jpeg" style="width: 300px; height: 210px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
<div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Специалист по ведению групп психологического тренинга</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp Психологический тренинг – удивительный процесс. Процесс, где группа «движется» сама. Тренер, чутко управляя процессом, меняет установки и стратегии не одного человека, а группы. Мой опыт ведения взрослых групп говорит об осознанности взрослого человека, его готовности глубоко и вдумчиво работать над собой. Что же можно сказать о тренингах детских? – Это Фонтан! Это Буря! Это бешеная динамика группы!<br>
<p3 class="epsilon ls-medium"></p3><br>
                    <div class="wrapper1">
                    <img src="/static/img/pt1.jpeg" style="width: 300px; height: 200px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>

                </div>
                    &nbsp Как же я люблю психологические тренинги!!!<br>
</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/9.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>
<div class="card0">
        <div class="wrapper1"><p4 class="epsilon ls-medium">Психолог по работе с детьми с ограниченными возможностями (ОВЗ) и семьями</p4><br>
            <p3 class="epsilon ls-medium">&#8212</p3><br>
        </div>
            <div class="wrapper2">
                <p5 class="epsilon ls-medium">&nbsp В 2012 году моя коллега-психолог, Татьяна Сабарайкина, предложила участвовать в разработке и проведении нового проекта от благотворительного фонда «Харысхал»: организация работы Летнего инклюзивного лагеря. Было интересно и ново! Были страхи и сомнения, но мы это сделали.<br>
<p3 class="epsilon ls-medium"></p3><br>
                    <div class="wrapper1">
                        <img src="/static/img/ov1.jpeg" style="width: 300px; height: 210px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/vin5.jpeg" style="width: 300px; height: 210px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>

                </div>
                    &nbsp Чудесный проект - долгожитель. Удивительный и уникальный опыт: Семейный инклюзивный лагерь «Ласточка».<br>

</p5><br>
                <div class="wrapper1">
                    <img src="/static/img/o1.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" />
                    <img src="/static/img/o2.jpeg" style="width: 200px; height: 300px;border: 1px solid rgba(30,15,30,0.6);" alt="article-cover" /><br>
                    <p3 class="epsilon ls-medium">&#8212</p3><br>
                </div>
            </div>
        <div class="container3">
            <div class="center">
                <a class="btn epsilon ls-medium" href="/about">Назад</a>
            </div>
        </div>
    </div>

</body>

</body>

</html>