<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/33.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/33.png">
    <title>{% block title %}{% endblock %}</title>

</head>
    <body>
        <section>
            <img src='/static/img/3.png' style= 'width:160px; height:90px; margin-bottom: -95px'>
                <div class="wrapper">
                    <h1 class="gamma lato thin uppercase ls-xlarge">
                        <span>Психолог, психотерапевт</span><br>
                        <span class="Brush Script MT tera ls-xlarge bold">Ксения Тарская</span><br>
                    </h1>
                </div>
        </section>
        <div class="wrapper3">
            <div class="content">
                <div class="container10">
                    <img src="/static/img/533.jpg" style="width: 150px; height: 150px; border-radius: 100px;border: 2px solid rgba(150,15,30,0.6);;"  alt="article-cover" />
                </div>
                <p2 class="epsilon ls-medium">Когда принимаю себя, принимаю другого рядом с собой.</p2>
            </div>
        </div>
            <div class="card0">
                <div class="wrapper1">
                    <div class="content">
                        <p4 class="epsilon ls-medium">Личная информация:</p4><br>
                        <p3 class="epsilon ls-medium">&#8212</p3><br>
                        <a class=" btn1 epsilon ls-medium" href="/about">О себе</a><br>
                        <p3 class="epsilon ls-medium">&#8212</p3><br>
                            <div class="wrapper2">
                                <div class="content1">
                                    <p1 class="epsilon ls-medium">Написать мне в VK:<a class="btn1 btn-one" href="https://vk.com/club225498380">Хорошо с психологом</a></p1><br>
                                    <p1 class="epsilon ls-medium">Посетить канал в Telegram:<a class="btn1 btn-one" href="https://t.me/tarskayaksenia">Хорошо с психологом</a></p1><br>
                                    <p1 class="epsilon ls-medium">Посмотреть рубрику на YouTube:<a class="btn1 btn-one " href="https://youtu.be/D7iPcH9s3YI">Вопрос экспертам</a></p1><br>
                                    <p1 class="epsilon ls-medium">Прочитать статьи в Дзен:<a class="btn1 btn-one " href="https://dzen.ru/id/662b8e23b478cf219bf72dc1">Психолог, психотерапевт Ксения Тарская</a></p1>
                                </div>
                                <p3 class="epsilon ls-medium">&#8212</p3><br>
                            </div>
                        <a href="/diplom" class="btn1 epsilon ls-medium">Образование</a><br>
                        <p3 class="epsilon ls-medium">&#8212</p3><br>
                        <a href="/gram" class="btn1 epsilon ls-medium">Награды</a><br>
                    </div>
                </div>
            </div>
            <div class="card1">
                <head>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                </head>
                <div class="wrapper4">
                    <div class="content">
                        <div class="content">
                            <p3 class="epsilon ls-medium">&#8212</p3><br>
                            <p1 class="epsilon ls-medium" style="font-size: 1.4rem">Появились вопросы к Себе и Миру?</p1><br>
                            <p1 class="epsilon ls-medium" style="font-size: 1.4rem">Ты можешь их задать мне!</p1><br>
                            <p1 class="epsilon ls-medium" style="font-size: 1.4rem">Мы вместе найдем на них ответы!</p1><br>
                            <p1 class="epsilon ls-medium">С Тобой я готова делиться своим опытом и знаниями.</p1><br>
                            <p1 class="epsilon ls-medium">Ты - тот человек, который готов менять свою жизнь к лучшему.</p1><br>
                            <p1 class="epsilon ls-medium">Присоединяйся к моему сообществу и качество Твоей реальности заметно улучшится.</p1><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper2">
                <p3 class="epsilon ls-medium">&#8212</p3><br>
                <p4 class="epsilon ls-medium">Контакты:</p4><br>
                    <div class="wrapper1">
                        <div class="content1">
                            <div class="container8">
                                <div class="container7"> <p1 class="epsilon ls-medium">Написать в Telegram</p1><br><img src="/static/img/g1.jpg" style="width: 150px;border: 1px solid rgba(30,15,30,0.6);margin-left: 15px;margin-right: 15px" alt="article-cover" /></div>
                                <div class="container7"> <p1 class="epsilon ls-medium">Перейти в Instagram</p1><br><img src="/static/img/g2.jpg" style="width: 150px;border: 1px solid rgba(30,15,30,0.6);margin-left: 15px;margin-right: 15px" alt="article-cover" /></div>
                                <div class="container7"> <p1 class="epsilon ls-medium">Присоединись к сообществу в VK</p1><br><img src="/static/img/g3.jpg" style="width: 150px;border: 1px solid rgba(30,15,30,0.6);margin-left: 15px;margin-right: 15px" alt="article-cover" /></div>
                                <div class="container7"> <p1 class="epsilon ls-medium">Напиши мне в WhatsApp</p1><br><img src="/static/img/g4.jpg" style="width: 150px;border: 1px solid rgba(30,15,30,0.6);margin-left: 15px;margin-right: 15px" alt="article-cover" /></div><br>
                            </div>
                        <p3 class="epsilon ls-medium">&#8212</p3><br>
                    </div>
                </div>
            </div>
</body>



</html>